In [ ]:
import pandas as pd
import scipy.stats as ss

In [19]:
df=pd.read_csv("../file/HR.csv")

In [20]:
df.head(5)

,satisfaction_level,last_evaluation,number_project,average_monthly_hours,time_spend_company,Work_accident,left,promotion_last_5years,department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [21]:
df.mean()   #求均值

satisfaction_level         0.612839
last_evaluation           67.373732
number_project             3.802693
average_monthly_hours    201.041728
time_spend_company         3.498067
Work_accident              0.144581
left                       0.238235
promotion_last_5years      0.021264
dtype: float64

In [22]:
print(df['satisfaction_level'].sum())    #求和
print(df['satisfaction_level'].mean())   #平均值
print(df['satisfaction_level'].median()) #中位数
print(df['satisfaction_level'].quantile(q=0.25))  #分位数
print(df['satisfaction_level'].mode())   #众数，可能返回多个

9192.59
0.6128393333333333
0.64
0.44
0    0.1
dtype: float64

In [23]:
print(df['satisfaction_level'].std())  #标准差
print(df['satisfaction_level'].var())  #方差
print(df['satisfaction_level'].skew())  #偏态系数
print(df['satisfaction_level'].kurt())  #峰态系数（以0为标准）

0.24862338135944925
0.061813585758606134
-0.47643761717258093
-0.6706959323886252

###### 正态分布

In [24]:
ss.norm   #一个标准的正态分布
ss.norm.stats(moments="mvsk") #标准正态分布的四个属性:m均值，v方差，s偏态系数，k峰态系数

(array(0.), array(1.), array(0.), array(0.))